.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    row-gap: 48px;
    column-gap: 24px;
    margin: 0 auto;
    width: 100%;
    width: fit-content;
}
.gallery__image {
    height: 300px;
    width: 100%;
}
